<div class="container" id="logs-container">
    {% for log in logs %}

    <div id="{{log.id}}">
    </div>

    <script>
        $( "#{{log.id}}" ).load( "/leopard_gecko/log_partial/{{log.id}}" );
        $( "#logs-container" ).append( $( "#{{log.id}}" ) );
    </script>

    {% endfor %}
    <h2 class="has-text-centered is-size-3"><a class="has-text-info" href="/leopard_gecko/paginated_logs/{{gecko.id}}">More logs</a></h2>
</div>
<h2 class="has-text-centered is-size-3"><a class="has-text-info" href="/leopard_gecko/paginated_logs/{{gecko.id}}">More logs</a></h2>
