{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Index - Mantilogs</title>
    <link rel="stylesheet" href="/static/css/bulma.css">
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>

<section class="hero is-dark is-medium">
  <!-- Hero head: will stick at the top -->
  <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item">
            <h1 class="is-size-1">Mantilogs</h1>
          </a>
          <span class="navbar-burger burger" data-target="navbarMenuHeroA">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenuHeroA" class="navbar-menu">
          <div class="navbar-end">
            <a href="/" class="navbar-item is-active">
              Home
            </a>
            <a href="/admin" class="navbar-item">
              Admin
            </a>
            <a href="#" class="navbar-item">
              Documentation
            </a>
            
          </div>
        </div>
      </div>
    </nav>
  </div>

  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        Mantilogs Index
      </h1>
      <h2 class="subtitle">
        Select a mantid.
      </h2>
    </div>
  </div>

  <!-- Hero footer: will stick at the bottom -->
  <div class="hero-foot">
    <nav class="tabs">
      <div class="container">
        <ul>
          <li class="is-active"><a href="/mantis">Overview</a></li>
          <li><a href="/mantis/deadn">Died Naturally</a></li>
          <li><a href="/mantis/deadu">Died Mysteriously</a></li>
          <li><a href="/mantis/crisis">Crisis</a></li>
          <li><a href="/mantis/alive">Alive</a></li>
          <li><a href="/mantis/feed">Need Feeding</a></li>
        </ul>
      </div>
    </nav>
  </div>
</section>
<br/>
{% if not all_good == ''%}
  <h2 class="is-big has-text-grey-light title">{{all_good}}</h2>
{%endif%}
{% for mantis in mantids %}

  {% if mantis.died_natural or mantis.died_unknown %}
    <section class="hero is-dark has-text-dark">
  {% elif crisis_last_48|get_item:mantis.name  %}
    <section class="hero is-danger">
  {% else %}
    <section class="hero is-dark">
  {% endif %}
  <div class="hero-body columns">
  <div class="column">
  <figure class="">
  {{logs_last_48.mantis}}
        <img class="image is-rounded is-vcentered is-16-by-9 profile-pic" src="{{mantis.profile_pic}}">
    </figure>
  </div>
    <div class="container column">
      <h1 class="title">
        <a class="button is-large is-dark is-bold" href="/mantis/profile/{{mantis}}">{{mantis.nickname}} : {{mantis}}</a> 
        </h1>
      <h1 class="has-text-warning">
      {% if mantis.died_natural or mantis.died_unknown %}
        Died: {{mantis.deathday}} of causes: {{ mantis.cause_of_death }}
      {% endif %}
      {% if crisis_last_48|get_item:mantis.name %}
        <h1 class="has-text-danger">Crisis Mode!</h1>
      {% endif %}    
      </h1>
      <h1 class="has-text-grey">
        {% if last_fed|get_item:mantis.name %}
        Last fed: {{last_fed|get_item:mantis.name}}
        {%endif%}
      </h1>
      <hr/>
      <h2 class="subtitle has-text-grey-lighter is-bold columns">
        <div class="column is-one-fifth">L{{mantis.lifestage}}</div> <div class="has-text-grey-light column is-one-third">{{mantis.species}}</div> <div class="column is-one-fifth">{{mantis.color}}</div>
      </h2>
    </div>
  </div>
</section>
<br/>
{% if logs_last_48|get_item:mantis.name %}
<div class="has-text-light" style="padding: 20px;">{{ logs_last_48|get_item:mantis.name }}</div>
{% endif %}
{% endfor %}


<footer class="footer is-dark has-background-dark">
  <div class="content has-text-centered is-dark">
    <p>
      <strong class="has-text-light">Mantilogs</strong> by <a href="https://aeventeam.xyz">Aeven Team</a>. 
    </p>
  </div>
</footer>
</body>
</html>